---
import ProjectCard from '@/components/ProjectCard.astro'
import projectsData from '@/projects.json' 
import { SKILLS } from '@/const'
import Layout from '@/layouts/Layout.astro'
---

<Layout tabTitle="nukive - Portfolio" pageTitle="nukive" subTitle="self-taught full stack web developer">
  <a 
    slot="icon"
    href="https://github.com/nuki-ve/nuki-ve.github.com"
    target="_blank" 
    class="icon"
  >
    <i class="fa-brands fa-github"></i>
  </a>
  
  <div slot="header">
    <section id="skills">
        <span id="htmlSkill" data-skill={SKILLS.html}>HTML</span>
        <span id="cssSkill" data-skill={SKILLS.css}>CSS</span>
        <span id="lessSkill" data-skill={SKILLS.less}>LessCSS</span>
        <span id="jsSkill" data-skill={SKILLS.js}>JS</span>
        <span id="tsSkill" data-skill={SKILLS.ts}>TS</span>
        <span id="viteSkill" data-skill={SKILLS.vite}>Vite</span>
        <span id="astroSkill" data-skill={SKILLS.astro}>Astro</span>
        <span id="reactSkill" data-skill={SKILLS.react}>React</span>
        <span id="tailwindSkill" data-skill={SKILLS.tailwind}>Tailwind</span>
        <span id="uxSkill" data-skill={SKILLS.uxui}>UX/UI</span>
        <span id="sqlSkill" data-skill={SKILLS.sql}>SQL</span>
        <span id="mongoSkill" data-skill={SKILLS.mongo}>MongoDB</span>
      </section>
  </div>

  <main slot="main">
    {
      projectsData.map((project) => (
        <ProjectCard project={project} key={project.name} />
      ))
    }
    <script>
      document.querySelectorAll('.project').forEach((proj:HTMLElement) => {
        proj.dataset.skills.split(', ').forEach(skill => {
          proj.addEventListener('mouseover', () => document.querySelector(`[data-skill="${skill}"]`).classList.add('hovered'))
          proj.addEventListener('mouseout', () => document.querySelector(`[data-skill="${skill}"]`).classList.remove('hovered'))
        })
      })
    </script>
  </main>
</Layout>

<style lang="less">
#skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  padding: 0 1rem;

  span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
  }

  #htmlSkill:hover, #htmlSkill.hovered { background-color: #e34c26; color: white; }
  #cssSkill:hover, #cssSkill.hovered { background-color: #264de4; color: white; }
  #lessSkill:hover, #lessSkill.hovered { background-color: #1d365d; color: white; }
  #jsSkill:hover, #jsSkill.hovered { background-color: #f0db4f; color: black; }
  #tsSkill:hover, #tsSkill.hovered { background-color: #007acc; color: white; }
  #viteSkill:hover, #viteSkill.hovered { background-color: #646cff; color: white; }
  #astroSkill:hover, #astroSkill.hovered { background-color: #ff5d01; color: white; }
  #reactSkill:hover, #reactSkill.hovered { background-color: #61dafb; color: black; }
  #tailwindSkill:hover, #tailwindSkill.hovered { background-color: #38bdf8; color: black; }
  #uxSkill:hover, #uxSkill.hovered { background-color: #ff69b4; color: white; }
  #sqlSkill:hover, #sqlSkill.hovered { background-color: #f29111; color: white; }
  #mongoSkill:hover, #mongoSkill.hovered { background-color: #47a248; color: white; }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
}

.icon {
  color: black;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #007acc;
  }
}
</style>

<script>
const header = document.querySelector('header')
const hero = document.querySelector('#hero')
const handleResize = () => header.style.setProperty(
  'top',
  `-${hero.getBoundingClientRect().height}px`
)
handleResize()
window.addEventListener('resize', handleResize)
</script>
