---
const { project, key } = Astro.props;
---

<a href={project.url} target="_blank" class="projectCard" id={key} data-skills={project.skills.join(', ')}>
  <section class="bannerContainer">
    <img class="banner" src={project.image} alt={project.name}/>
  </section>

  <section class="details">
    <img class="logo" src={project.favicon} alt={`${project.name} logo`} />
    <span class="projectTitle">{project.name}</span>
  </section>
  <p>{project.description}</p>
</a>

<style lang="less">
@import url(@/styles/projectCard.less);
</style>